.progress-wrap {
    position: relative;
}

.progress {
    background-color: #f3f3f3;
    border-radius: 10px;
    height: 20px;
    position: relative;
    width: 100%;
}

.progress-bar {
    background-color: #a9fd00;
    border-radius: 10px;
    height: 100%;
    position: relative;
    transition: width 0.4s ease;
    overflow: hidden; /* Tambahkan overflow: hidden; untuk mengatur efek shadow */
}

.progress-bar span {
    color: white;
    display: inline-block;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Animasi shadow 3D */
.progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #a2ff00, #01f8cf);
    animation: animateShadow 2s infinite;
}

@keyframes animateShadow {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

 .progress-bar {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
 background-color: #bfff00;
  box-shadow: 0 2px 15px rgba(4, 216, 149, 0.938); /* 3D shadow effect */
  }

 .progress-bar-inner {
  position: absolute;
  left: 0;
  top: 0;
 height: 100%;
  width: 0;
  background-color: #004cff;
  transition: width 0.3s ease-in-out;
 }
        